/*
// Terminal Look
*/

.terminal {
	background-color: black;
	background-image: radial-gradient(
	  rgba(0, 150, 0, 0.5), black 120%
	);
	margin: 0;
	overflow: hidden;
	padding: 1rem;
	color: white;
	font: 1rem Inconsolata, monospace;
	text-shadow: 0 0 5px #C8C8C8;
	/*border-image: url("../img/console2.jpg") 32 round;*/
}

.terminal:selection {
	background: #0080FF;
	text-shadow: none;
}

.terminal-text {
	color: white;
	font: 1rem Inconsolata, monospace;
	text-shadow: 0 0 5px #C8C8C8;
}

/*
// Old paper background
*/

.paper {
	max-width: 960px;
	background: url("../img/paper.jpg");

	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.border-orange {
	border: 4px solid #FF851B;
	border-radius: 8px;
}

.border-round {
	border-radius: 64px;
}

hr {
	border: 1px solid #FF851B;
}

.border-margin {
	margin: 8px 8px;
	padding: 8px 8px;
}

pre {
	margin: 0;
}


body {
	font-family: 'Cairo', serif;
	background-color: #FF851B;

	background: url("../img/desert_apoc.jpg");

	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

@media only screen and (max-width:900px), (max-device-width:900px){
	body:before {
	  content: "";
	  display: block;
	  position: fixed;
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  z-index: -10;
	  background: url("../img/desert_apoc.jpg") no-repeat center center;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}
	}
/*
h6 {
	font: 1.0rem Inconsolata, monospace;
}
*/

h1 {
	font-family: 'Exo', serif;
}

/* 
// icon-link
// white (default), turn into orange when selected
*/

.icon-link {
	cursor: pointer;
}

.icon-link:hover {
	color: #FF851B; /* this is useless, but this is roughly the target color we're aiming for */
	filter: invert(29%) sepia(71%) saturate(1838%) hue-rotate(344deg) brightness(99%) contrast(104%);
}

.icon-big {
	height: 64px;
}

.icon-small {
	height: 48px;
}
/* 
// gn-lifespan from simpleNotification
// Hide the progress bar!
// Doesn't seem to work... I changed it in simpleNotification.css instead
*/

.gn-lifespan {
  display: hidden !important;
}

/*
// scroll-box for events
*/

.scroll-box {
	width: 100%; 
	overflow: auto; 
	overflow-x: hidden; 
	height: 112px;
}

/*
// pointer on icons
*/

.show-pointer {
	cursor: pointer;
}

/*
// tribe selection
*/

.tribe-img {
	height: 64px;
}

.plantamid-img {
	background-image: url("../img/plantamid.svg");
	background-size: 192px;
	background-repeat: no-repeat;
	background-position: center;
}

/* use same color as background for container title */
.title-container {
	color: #FF851B;
}

/* white background and rounded corners */
.white-container {
	background-color: #ffffff;
	border: 4px solid #FF851B;
	border-radius: 8px;
	margin: 4px;
}

/* white text with black outline */
.black-shadow {
	color: white;
	text-shadow:
	-1px -1px 0 #000,  
	1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* resize title on small screens so it doesn't overflow */
@media only screen and (max-width: 540px) {
		
	* {
		font-size: 120%;
	}

    .display-1 {
        font-size: 48px;
	}

}

/*** MODALS ***/


/* Modal (from W3Schools) */
.egg-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	margin: 0 auto;
    width: 100%;
	max-width: 800px;
	position: center;
}

/* The Close Button */
.close {
    font-size: 16px;
    font-weight: bold;
	color: white;
	vertical-align: text-top;
    float: right;
}

.close:hover,
.close:focus {
    color: gray;
    text-decoration: none;
    cursor: pointer;
}

/*** TABS ***/

/** {box-sizing: border-box}*/

/* Style the tab */
.tab {
  float: left;
  margin: 4px 4px;
  /*border: 1px solid #ccc;*/
  /*background-color: #f1f1f1;*/
  /*width: 30%;*/
  height: 100%;
}

.tablinks {
	margin: 4px 0px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  /*background-color: #FF851B;*/
  /*color: black;*/
  /*padding: 4px 4px;*/
  width: 100%;
  /*border: none;
  outline: none;
  text-align: left;*/
  cursor: pointer;
  transition: 0.3s;
  background-color: black;
	background-image: radial-gradient(
	  rgba(0, 150, 0, 0.5), black 120%
	);
	color: white;
	font: Inconsolata, monospace;
	text-shadow: 0 0 5px #C8C8C8;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(170, 90, 16);
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: rgb(255, 205, 131);
  background-image: "";
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 16px 16px;
  margin: 4px 4px;
  /*border: 1px solid #ccc;*/
  /*width: 70%;
  border-left: none;
  height: 300px;*/
}

/* Lower font size */
@media screen and (max-width: 1023px) {
	.tab button {
		font: 1rem Inconsolata, monospace;
	}
}

/* On screens that are less than 800px wide, make the sidebar into a topbar */
@media screen and (max-width: 800px) {
	.tab {
	  width: 100%;
	  position: relative;
	}
	.tab button {
		width: auto;
	}
	.tabcontent {width: 100%;}
  }
